    @font-face{
        font-family:"Optima LT W01 Roman";
        src:url("Fonts/5962256/afcfbda4-d728-4d71-9e36-3f5fe7247c11.woff2") format("woff2"),url("Fonts/5962256/d48c483c-caab-4ee0-85d5-1541ff19880e.woff") format("woff");
    }
